<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE resources SYSTEM "../map.dtd" []>
<resources>
	<author>
		<name>Martin Eesmaa</name>
		<nickname>martinhero12</nickname>
		<email>martin.eesmaa AT protonmail.com</email>
		<country>Estonia</country>
	</author>

	<surface name="sky" file="sky.png" />
	<surface name="map" file="background.png" />
	<surface name="preview" file="preview.jpg" />

	<name>Dream Stingray</name>
	<water>water</water>
	<nb_mine>10</nb_mine>
	<is_open>1</is_open>

	<music_playlist>sea</music_playlist>
</resources>
